$font-color : hsl(233,8%,62%);
$font-pack : public-sans;
$font-size : 18px;
$weak-font : 300;
$strong-font : 400;
$bold-font : 700;
$blue-color : hsl(192,70%,51%);
$green-color : hsl(136,65%,51%);
$linear-grad : linear-gradient(to right, hsl(136,65%,51%), hsl(192,70%,51%));


